{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reviews list</h1>
    {% for review in reviews %}
    <ul>
        <li><strong>Auteur</strong>{{ reviews.reviewAuthor }}</li>
        <li><strong></strong></li>
        <li><strong></strong></li>
        <li><strong></strong></li>
        <li><strong></strong></li>
    </ul>
    {% endfor %}
{% endblock %}